*{
  padding: 0;
  margin:0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-color: #f3f3f3;
}

img{
    display: block;
    max-width: 100%;
}


/*Menu*/

.super{
    max-width: 1100px;
    margin:20px auto 40px auto;
    display: flex;
}

.logo, .menu{
  flex: 1;
  max-width: 535px;
}

.menu{
  margin:40px 0 0 0;
}

.menu ul{
  display: flex;
  flex-wrap: wrap;
}

.menu li{
  margin-left: auto;
  margin-right: auto;
}

.menu li a{
      font-size: 1.75em;
      font-weight: 100;
      text-transform: uppercase;
      color:#919191;
      font-family: 'Amatic SC', cursive;
}
/*Menu*/


/*formulario*/
.container {
  width: 100%; /* define a largura do campo */
  margin: 20px 0 0 0;
}
input {
  width: 50%;
  } /* define a largura do campo igual a largura do container */
input,  button {
  padding: 10px;
  border: none;
}

button{
  background-color: #ff879f;
  color: white;
}

/*formulario*/
nav{
  max-width: 1100px;
  margin:0 auto;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: background-color 1s;
  font-family: 'Amatic SC', cursive;
  background-color: rgba(255,255,255,0.72);
}

nav ul{
    display: flex;
    flex-wrap: wrap;
}

nav a{
    font-size: 2em;
    font-weight: 100;
    display: block;
    padding: 20px;
    text-transform: uppercase;
    color:#919191;
}

nav li a:hover{
  color: #f7a4b0;
}

header{
  max-width: 1100px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
}
.main{
  max-width: 1100px;
  margin:20px auto;
  display: flex;
  justify-content: space-between;
}
.principal{
    max-width: 655px;
    background-color: white;
    padding: 40px;
}
.post{
  background-color: white;
}
.principalTitulo{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.data p{
  font-size: 2.5em;
  font-family: sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 0.8;
}

.data span{
  margin-top:-20px;
  padding: 0;
}

.titulo, .ptitulo{
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  text-align: center;
}

.ptitulo{
  font-size:2em;
  font-weight: bold;
  padding: 0;
  margin:0;
}

.marcadores{
  max-width: 655px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.marcadores ul{
  display: flex;
  flex-wrap: wrap;
}

.marcadores a{
    background-color: #d9d9d9;
    font-weight: 100;
    display: block;
    padding: 10px;
    text-transform: uppercase;
    color:#fff4f5;
    margin:2px;
}

.marcadores a:hover{
  background-color: #f7a4b0;
}

.postParagrafo, .destaque, .pdestaque, .comentario{
  max-width: 655px;
  padding:10px;
  margin:0 auto;
}

.postImagem{
  margin:0 auto;
}

.destaque, .pdestaque{
  max-width: 600px;
  background-color: #e8e8e8;
}

.circle{
  border-radius: 50%;
}
.pcomentario{
  text-align:right;
}

.circleComentario{
  background-color: #f7a4b0;
  color: white;
  border-radius: 50%;
  padding: 10px;
}
.postRelacionados{
  max-width: 660px;
  margin:20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.postRelacionados img{
  width: 115px;
  height: 115px;
}

.perfil{
  width: 300px;
}
.card{
  width: 300px;
  background: #ddd;
}
.card img{
  height: 188px;
}

.card p{
  font-size: 1.5em;
  font-weight:bold;
  font-family: 'Amatic SC', cursive;
  margin:5px 0 5px 0;
  padding: 5px;
}
.card p+p{
  font-size: 1em;
  font-weight: normal;
}

.redes{
  margin: 15px 0;
}

.formulario p{
  font-size: 1.5em;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-weight: bold;
}

.textocenter{
  text-align: center;
  max-width: 930px;
  margin:0 auto;
}
.saibaMais{
  margin: 0 auto;
  max-width: 930px;
  display: flex;
  justify-content: space-between;
}

.box{
  flex: 1;
  max-width: 276px;
}

.box2{
  flex:1;
  max-width: 207px;
}

.anuncio{
  background-color: black;
  color: white;
  max-width: 930px;
  margin:0 auto;
  text-align: center;
  padding: 50px 0;
}

footer{
  background-color: white;
}

.rodape{
  max-width: 1017px;
  margin:0 auto;
}
.imagem{
  display: flex;
  justify-content: space-between;
}

.imagem img{
  flex:1;
  max-width: 137px;
}
